@import "../../styles/_variables";

main{
    height:100vh;
    padding: 2rem 5rem;
    div.container{
        background-color: $tertiary-color;
        padding: 2rem 5rem;
        max-width: 100%;
        height: 100%;
        opacity: 92%;
        
        article{
            h1{
                text-align: center;
                margin-bottom: 2rem;
            }
        }
    }
    .scroll{
        overflow-y: scroll;
    }
    .flex-parent{
        display: flex;
    }
    .flex-child{
        flex: 1;
    }
    .form-wrapper{
        margin: auto;
        width: 60%;
        min-width: 250px;
        padding: 1rem;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        .form-group{
            margin-top: 1rem;
        }
    }
}

@media screen and (max-width: 700px){
        main{
            padding: 0;
            div.container{
                padding: 2rem 1rem;
            }
        }
}