$primary-color: #0D2551;
$secondary-color: #455DA7;
$text-color: #fff;
body {
    footer{
        width: 100%;
        margin: 0;
        height: 150px;
        background: $secondary-color;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@import "~bootstrap/scss/bootstrap";