$primary-color: #0D2551;
$secondary-color: #455DA7;
$text-color: #fff;

.navbar {
    
    background-color: $primary-color;
    .active{
        background: $secondary-color;
      }
    
    a{
        color: $text-color;
    }
}

@import "~bootstrap/scss/bootstrap";